@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");

:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --main-color: #007ACC;
    --white-color: #00d2ff;
    --active-color: #fff;
    --line-color: #D8DFEA;
    --first-color-light: #AFA5D9;
    --body-font: Tahoma, Arial, Verdana, sans-serif;
    --normal-font-size: 1rem;
    --hovered-color: #c84747;
    --z-fixed: 100
}

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

footer {
    padding: 10px 5px;
    font-family: var(--body-font);
    font-size: 10px;
    font-weight: bold;
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: var(--z-fixed);
    transition: .5s
}
/*----------Pagination-------------*/
#pageNavPosition {
    padding: 3px 0;
    box-shadow: 0 8px 20px -9px #36b2fa;
    width:fit-content;
}

.pg-normal {
    cursor: pointer;
    color: #15428B;
    font-size: 16px;
    padding: 2px 8px;
    margin: 3px 8px;
}

    .pg-normal:active {
        background-color: #0c98eb;
        color: white;
        border-radius: 50%;
    }
        .pg-normal:active:first-child {
            color: white;
            background-color: white;
            border-radius: 50%;
        }
        .pg-normal:active:last-child {
            color: white;
            background-color: white;
            border-radius: 50%;
        }

.pg-selected {
    background-color: #0c98eb;
    color: white;
    border-radius: 50%;
    padding: 3px 8px;
    margin: 2px 8px;
}
.pagination {
    display: inline-block;
    font-size: 13px;
    box-shadow: 0 8px 20px -9px #36b2fa;
}

    .pagination a i {
        color: #7ccbfd;
        font-size: 16px;
        pointer-events: none;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 2px 8px;
        margin: 0 8px;
        text-decoration: none;
    }

        .pagination a.active {
            background-color: #0c98eb;
            color: white;
            border-radius: 50%;
        }

        .pagination a:hover {
            background-color: #36b2fa;
            color: white;
            border-radius: 50%;
        }

        .pagination a:first-child {
            color: #36b2fa;
            background-color: white;
            border-radius: 50%;
        }

        .pagination a:last-child {
            color: #36b2fa;
            background-color: white;
            border-radius: 50%;
        }

        .pagination a:active:first-child {
            color: white;
            background-color: white;
            border-radius: 50%;
        }

        .pagination a:active:last-child {
            color: white;
            background-color: white;
            border-radius: 50%;
        }

        .pagination a:active {
            background-color: #7ccbfd;
            color: white;
            border-radius: 50%;
        }

/*----------End Pagination-------------*/
.txt-notic{
    font-size:13px;
    margin: 10px 5px;
}

.txt-clr-table {
    font-size: 12px;
    font-weight:600;
    color: red;
    padding: 2px 4px;  
}
.txt-clr-red {
    font-size: 12px;
    font-weight: 600;
    color: red;
}
/*----------tab infor sinh vvieen-------------*/
.name-sv {
    margin-bottom: 15px;
}
    /*----------animation hover-------------*/
    .name-sv svg {
        transition: transform .3s ease-in-out;
    }

        .name-sv svg:hover {
            transform: translate(25%, 10%) rotate(90deg);
        }
/*----------animation checkbox svg và hủy animation hover-------------*/
#check {
    display: none;
}
.bar {
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 40px;
}

    .bar span {
        position: absolute;
        border-radius: 100px;
        display: inline-block;
        transition: 0.3s ease;
        left: 0;
    }

        .bar span.top {
            top: 0;
        }

input[type]:checked ~ span.top {
    transform: translate(25%, 10%) rotate(90deg);
    pointer-events: none;
}
/*----------tab content -------------*/
.tabInfor {
    height: 100vh;
    width: 370px;
    background-color: white;
    border: 1px solid #ccc;
    border-top: 3px solid #ccc;
    border-left: none;
    box-shadow: 10px 0 20px -16px #333;
    /*box-shadow 2 số đầu là chỉnh vị trí, top (0 -5px) right(5px 0) bottom(0 5) left(-5px 0) toàn bộ(0 0) số tiếp theo là độ mờ và độ lớn của bóng*/
    margin: -2px 0px 0px -2px;
    padding: 6px 12px;
    display: none;
    -webkit-animation: fadeEffect 0.4s;
    animation: fadeEffect 0.4s;
    z-index: 10;
    /*position: absolute;*/
    position: fixed;
    transform: translate( 0%, 0%);
}

@-webkit-keyframes fadeEffect {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@keyframes fadeEffect {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/*------Style the close tab content---------*/
.butn-close {
    color: #090909;
    padding: 0.1px 7px;
    font-size: 18px;
    border-radius: 0.05em;
    border: 1px solid white;
    transition: all .3s;
}

    .butn-close:hover {
        background: #e8e8e8;
        border: 1px solid #e8e8e8;
    }

    .butn-close:active {
        color: #666;
        box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
    }

.topright {
    float: right;
    cursor: pointer;
    font-size: 24px;
}

.tabInfor h4 {
    margin: 15px 0px;
    color: #ff0000
}

.tabInfor hr {
    margin: 25px 20px 30px 0px;
}

.tabInfor button {
    padding: 0;
    margin-bottom: 20px;
    border: none;
    background: none;
}
/*----*/
.tabInfor button {
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    gap: 0.5rem;
    align-items: center;
}

    .tabInfor button p {
        margin: 0;
        position: relative;
        font-size: 16px;
        color: var(--main-color)
    }

    .tabInfor button::after {
        position: absolute;
        content: "";
        width: 0;
        left: 0;
        bottom: -7px;
        background: var(--main-color);
        height: 2px;
        transition: 0.5s ease-out;
    }

    .tabInfor button:hover::after {
        width: 100%;
    }

.tabInfor svg {
    animation: heartButton 3s infinite;
}

@keyframes heartButton {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.3);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
/*------End Style the close tab content---------*/
.z-index {
    position: absolute;
    left: 100%;
    top: 20%;
    z-index: 1;
}


/*------ Style Box chào mừng---------*/
.Box-notic {
    justify-content: end;
    width: 0px;
    height: 100px;
    background-color: #f0f8ff;
    animation-name: example;
    animation-duration: 4s;
    z-index: 1000;
    overflow: hidden;
    position: absolute;
}

@keyframes example {
    0% {
        width: 0px;
        background-color: #e0f0fe;
        border: none;
    }

    20% {
        width: 325px;
        background-color: #e0f0fe;
        border-right: 8px inset #0c98eb;
    }

    80% {
        width: 325px;
        background-color: #f0f8ff;
        border-right: 8px inset #0c98eb;
    }

    90% {
        width: 20px;
        background-color: #e0f0fe;
        border: none;
    }

    100% {
        width: 0px;
        border: none;
    }
}

.txt-opc {
    animation-name: txt-opc;
    animation-duration: 4s;
    position: absolute;
}

@keyframes txt-opc {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    65% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
/*------------------ End Style Box chào mừng --------------------*/

/*------------------ Body Page cá nhân --------------------*/
.Page-CaNhan .card {
    margin: 50px 0px;
    width: 580px;
    height: 254px;
    transition: all 0.2s;
    position: relative;
    display: grid;
    place-items: center;
}

.Page-CaNhan .card-inner {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

    .Page-CaNhan .card-inner .content {
        font-size: 15px;
    }

.Page-CaNhan .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#36b2fa, #e0f0fe);
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
}

    .Page-CaNhan .circle:nth-child(1) {
        top: -25px;
        left: -25px;
    }

    .Page-CaNhan .circle:nth-child(2) {
        bottom: -25px;
        right: -25px;
        animation-name: move-down1;
    }

@keyframes move-up6 {
    to {
        transform: translateY(-10px);
        transform: rotate(100deg);
    }
}

@keyframes move-down1 {
    to {
        transform: translateY(10px);
        transform: rotate(-200deg);
    }
}
/*---------- social-media ---------*/

/*---------- social-media left  ---------*/

.Page-CaNhan .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #36b2fa;
}

.Page-CaNhan .social-media a {
    position: relative;
    margin-left: 15px;
    text-decoration: none;
    color: inherit;
}

    .Page-CaNhan .social-media a:last-child {
        margin-right: 0;
    }

    .Page-CaNhan .social-media a svg {
        width: 1.1rem;
        fill: currentColor;
    }

.Page-CaNhan .social-media .FB:hover {
    fill: #0674e7;
}

.Page-CaNhan .social-media .InSta:hover {
    fill: #ff0168;
}

.Page-CaNhan .social-media .LiKiN:hover {
    fill: #0a66c2;
}

.Page-CaNhan .social-media .Git:hover {
    fill: #1a1d21;
}

/*---------- social-media right  ---------*/

.Page-CaNhan .fileUploadInput {
    display: grid;
    grid-gap: 10px;
    position: relative;
    z-index: 1;
}

    .Page-CaNhan .fileUploadInput label {
        display: flex;
        align-items: center;
        color: setColor(primary, 0.5);
        background: setColor(white);
        transition: .4s ease;
        font-family: arial, sans-serif;
        font-size: .75em;
        font-weight: regular;
        padding-top: 15px;
    }

    .Page-CaNhan .fileUploadInput input {
        position: relative;
        z-index: 1;
        padding: 0 gap(m);
        width: 100%;
        height: 40px;
        border: 0.075rem solid #ddd;
        border-radius: 3px;
        font-family: arial, sans-serif;
        font-size: 0.9rem;
        user-select: none;
        cursor: pointer;
        font-weight: regular;
    }

        .Page-CaNhan .fileUploadInput input[type="file"] {
            padding: 0 gap(m);
        }

            .Page-CaNhan .fileUploadInput input[type="file"]::-webkit-file-upload-button {
                visibility: hidden;
                margin-left: 5px;
                margin-top: -5px;
                padding: 0;
                height: 50px;
                width: 0;
            }

    .Page-CaNhan .fileUploadInput button {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 85px;
        height: 40px;
        line-height: 0;
        user-select: none;
        color: #555;
        background-color: #dddddd;
        border-radius: 0 3px 3px 0;
        font-family: arial, sans-serif;
        font-size: 1rem;
    }

@-moz-document url-prefix() {
    .Page-CaNhan .fileUploadInput button {
        display: none
    }
}

.user-Image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    background: #dfdfdf;
}
/*-- Tooltip Social Media --*/
.Page-CaNhan .tooltip-social {
    background: #73B0CD;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    color: #F5F5F5;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
}

    .Page-CaNhan .tooltip-social:after {
        content: " ";
        position: absolute;
        bottom: 1px;
        left: 50%;
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        transform: translate(-50%, 100%);
    }

.Page-CaNhan .social-media a .tooltip-social:after {
    border-top-color: #73B0CD;
}

.Page-CaNhan .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
}

/*------------------ End Body Page cá nhân --------------------*/
/*------------------ Body Page cá nhân --------------------*/
.infor-family {
    padding: 0 10px;
}

    .infor-family button {
        padding: 5px 15px;
        font-size: 12px;
        text-align: center;
        cursor: pointer;
        color: #000;
        background-color: #DDDDDD;
        border: 2px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px #999;
    }

        .infor-family button:hover {
            background-color: #CCCCCC
        }

        .infor-family button:active {
            background-color: #CCCCCC;
            box-shadow: 0 2px #666;
            transform: translateY(2px);
        }

    .infor-family .buttonYC {
        padding: 10px 25px;
        background-color: #fffff;
        border: none;
        outline: none;
        border-radius: 30px;
        font-size: 14px;
        z-index: 1;
        position: relative;
        -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
        box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
        overflow: hidden;
        cursor: pointer;
    }

        .infor-family .buttonYC > span {
            z-index: 2;
        }

        .infor-family .buttonYC::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 30px;
            background-color: #d9e7f8;
            z-index: -1;
            overflow: hidden;
            -webkit-transform: scaleX(0);
            -ms-transform: scaleX(0);
            transform: scaleX(0);
            -webkit-transform-origin: right;
            -ms-transform-origin: right;
            transform-origin: right;
            -webkit-transition: -webkit-transform 0.2s ease-in;
            transition: -webkit-transform 0.2s ease-in;
            transition: transform 0.2s ease-in;
        }

        .infor-family .buttonYC:hover {
            color: #000;
        }

            .infor-family .buttonYC:hover::before {
                -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                transform: scaleX(1);
                -webkit-transform-origin: left;
                -ms-transform-origin: left;
                transform-origin: left;
            }

/*------------------ End Body Page cá nhân --------------------*/
/*------------------  Body Page đổi mật khẩu --------------------*/
.br-body {
    background-color: #fff;
    width: 100%;
    height: 70vh;
}

.login-content {
    max-width: 540px;
    margin: 8vh auto;
}

.login-form {
    background: #ffffff;
    padding: 30px 30px 20px;
    border-radius: 10px;
    border: 1px solid #eee;
    box-shadow: 0 0 20px -10px #333;
}

    .login-form h4 {
        color: #878787;
        text-align: center;
        margin-bottom: 50px;
    }

    .login-form .checkbox {
        color: #878787;
    }

        .login-form .checkbox label {
            text-transform: none;
        }

    .login-form .btn {
        width: 100%;
        text-transform: uppercase;
        font-size: 14px;
        padding: 15px;
        border: 0px;
    }

.cl-txt-notic-1 {
    color: #FF0000;
    font-size: 20px;
    font-weight: 600;
    margin-left: 4px;
}

.gradi-btn {
    margin: 10px 10px 10px 0px;
    padding: 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF !important;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 32em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 20px;
}

    .gradi-btn:hover {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        margin: 6px 8px 10px 0px;
    }

.gradi-btn-clr {
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%)
}

    .gradi-btn-clr:hover {
        background-position: right center;
    }

    .gradi-btn-clr:active {
        background-position: left center;
    }

/*------------------ Thông báo trao đổi trong lơp --------------------*/
.txt-day {
    font-size: 12px !important;
    color: #999 !important;
}

.txt-clr-Blu {
    font-size: 14px !important;
    color: #3b5998 !important;
}

.content button {
    padding: 7px 14px;
    color: #6c757d; /* màu khi input*/
    font-weight: 600;
    font-size: 13px !important;
    background-color: white !important;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .content button::before {
        border-radius: 50%;
        background-color: #5eabdf;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }

    .content button:hover {
        border-color: #5eabdf;
        color: #5eabdf;
    }

    .content button:focus {
        color: #5eabdf;
        border: white;
        box-shadow: 0 0 0 1px #5eabdf;
    }

        .content button:focus::before {
            transition: all 0.5s ease-out;
            opacity: 0;
            width: 250px;
            height: 250px;
        }

/*------------------ end Body Page đổi mật khẩu --------------------*/


.option-1 {
    font-weight: 100;
    font-size: 18px;
    letter-spacing: 1px;
}

.nav-line {
    border: 1px solid #C0C0C0;
    border-radius: 2px;
}

.right-top-bar p {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.1;
    height: 100%;
    color: #C0C0C0;
}

.portal-new h4 {
    padding-top: 7px;
    margin-left: 30px;
    color: var(--main-color);
    cursor: pointer;
    height: 27px;
    font-size: 13px;
}
/*
.icon-bell{
    padding-top: 5px;
    padding-left: 15px;
    font-size: 15px;
}*/
.header_toggle {
    color: var(--main-color);
    font-size: 1.5rem;
    cursor: pointer
}

@media screen and (max-width: 375px) {
    .header_toggle {
        margin-top: 3px;
        margin-left: 10px;
    }

    .portal-new h4 {
        margin-left: 5px;
        font-size: 10px;
        overflow: visible;
    }

    .right-top-bar p {
        font-size: 0.7rem;
    }
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

    .header_img img {
        width: 40px
    }

.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--main-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: scroll;
}

    /* Hide scrollbar for Chrome, Safari and Opera */
    .nav::-webkit-scrollbar {
        display: none;
    }

/* Hide scrollbar for IE, Edge and Firefox */
.nav {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-name {
    color: var(--active-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

    .nav_link:hover {
        color: var(--white-color)
    }

.nav_icon {
    font-size: 1.25rem
}

.nav_icon_con {
    font-size: 1.1rem !important
}

.dropdown {
    position: relative;
    transition: .3s
}

.dropdown-contnet {
    display: none;
    margin-top: -1rem;
}

    .dropdown-contnet a {
        font-size: 0.9rem;
        display: block;
        position: relative;
        color: var(--first-color-light);
        margin-bottom: 1rem;
        margin-left: 2.3rem;
        transition: .3s;
    }

        .dropdown-contnet a:hover {
            color: var(--white-color);
        }

.dropdown:hover .dropdown-contnet {
    display: block;
}

.dropdown:active .dropdown-contnet {
    display: block;
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--active-color)
}

.active1 {
    color: red !important;
}

    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--active-color)
    }

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

        .header_img img {
            width: 45px
        }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 156px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 188px)
    }
}
/*----------body-------------*/
.border-page {
    height: auto;
    margin-top: 15px;
    padding-bottom: 5px;
    border: 2px solid var(--line-color);
    border-radius: 5px;
}

.title-page {
    margin-top: 20px;
    margin-left: 25px;
    font-weight: bold;
    font-size: 12px;
    color: #000;
}

.title-line {
    border: 1px solid var(--line-color);
    border-radius: 2px;
    margin: 8px 5px 1px 15px;
}
/*---------------body  bảng tin------------------*/
.newsItem {
    margin: 10px 10px 10px 15px;
}

    .newsItem .news-Daily-Item {
        float: left;
        border: 1px solid #ccc;
        margin-right: 5px;
        margin-bottom: 5px;
        min-width: 120px;
        min-height: 70px;
        overflow: hidden;
    }

        .newsItem .news-Daily-Item .calTop {
            color: #CF3F48;
            display: block;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30px;
            font-weight: bold;
            line-height: 26px;
            text-align: center;
            margin-bottom: 10px;
        }

        .newsItem .news-Daily-Item .calBot {
            border-top: 2px solid #CF3F48;
            color: #999999;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 18px;
            font-weight: bold;
            line-height: 30px;
            text-align: center;
            display: block;
            width: 90px;
            margin: 0 auto;
        }

    .newsItem .news-Link {
        position: relative;
        font-weight: bold;
        font-size: 12px;
        color: #000;
        margin-bottom: 1.5rem;
        transition: .3s;
    }

        .newsItem .news-Link:hover {
            color: #ff0000;
        }

.newDate {
    color: #999;
    font-weight: normal !important;
}

/*--------------- body Detail bảng tin------------------*/
.Detail-News h5 {
    padding-top: 20px;
    font-family: Calibri;
    font-weight: 600;
    display: grid;
    place-items: center;
}

.Detail-News .Date {
    padding-top: 10px;
    font-family: Calibri;
    font-style: italic;
    color: #777777;
    font-weight: 300;
    display: grid;
    place-items: end;
}
/*----------body kết quả học tập-------------*/
.body-study {
    height: auto;
    margin: 15px 5px 5px 5px;
    padding: 1px;
    border: 1px solid var(--main-color);
}

.infor-student {
    margin-top: 5px;
    margin-left: 5px;
}

    .infor-student .infor-left {
        width: 200px;
        height: auto;
        float: left;
        font-size: 13px;
    }

@media screen and (max-width: 375px) {
    .infor-student .infor-left p {
        font-size: 12px;
    }
}
/* table chung*/
table, th, td {
    font-size: 12px;
}

th {
    text-align: center;
}

td {
    padding-left: 3px;
}

.table-kq-study th {
    background-color: #2647A0 !important;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
    padding: 10px 0px;
}

.table-kq-study td {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

.table-kq-study tr:nth-child(even) {
    background-color: #EDF5FF;
}

.table-kq-study .clo-2 td{
    background-color: #2647A0 !important;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
    padding: 8px 0px;
}

/*----------body kết quả học tập-------------*/



/*----------body kết quả Thi-------------*/
.table-kq-Thi th {
    background-color: #2647A0 !important;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
    padding: 10px 0px;
}

.table-kq-Thi td {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

.table-kq-Thi tr:nth-child(even) {
    background-color: #EDF5FF;
}

.table-kq-Thi .clo-2 td{
    background-color: #2647A0 !important;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
    padding: 8px 0px;
}
/*----------body TB chung tích lũy, kỳ ,kết quả thi, xét thử tốt nghiệp, kế hoạch thi-------------*/
.Gap-txt {
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 13px;
    gap: 5rem;
    align-items: center;
}

.Gap-txt-xxl {
    position: relative;
    display: flex;
    font-weight: 500;
    font-size: 13px;
    gap: 30rem;
    align-items: center;
}

.TBChungTL {
    height: auto;
    margin: 15px 5px 5px 5px;
    padding: 4px;
}


.table-TBChungTL table { /* sài chung vs khung chương trình kỳ*/
    margin-top: 10px;
    table-layout: auto
}

    .table-TBChungTL table tr th {
        padding: 5px 10px;
        border: 1px solid #99bbe8;
        background-color: #d9e7f8;
        text-align: center;
        color: #15428B;
    }
    .table-TBChungTL table tr:first-child {
        margin-bottom: 8px;
    }
   
    .table-TBChungTL table tbody tr td {
        border: 1px solid #99bbe8;
        padding: 5px 7px;
        text-align: left;
    }

        .table-TBChungTL table tr td p {
            margin-bottom: 8px;
        }
.TBChungTL button {
    padding: 7px 14px;
    color: #6c757d; /* màu khi input*/
    font-weight: 600;
    font-size: 13px !important;
    background-color: white !important;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .TBChungTL button::before {
        border-radius: 50%;
        background-color: #5eabdf;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }

    .TBChungTL button:hover {
        border-color: #5eabdf;
        color: #5eabdf;
    }

    .TBChungTL button:focus {
        color: #5eabdf;
        border: white;
        box-shadow: 0 0 0 1px #5eabdf;
    }

        .TBChungTL button:focus::before {
            transition: all 0.5s ease-out;
            opacity: 0;
            width: 250px;
            height: 250px;
        }

/*----------body Chia sẻ biểu mẫu, quy định, hướng dẫn chung -------------*/
.card-header {
    background-color: #e4e4e4;
    border-bottom: 2px solid #ccc;
}

.body-share {
    margin: 15px 8px 5px 8px;
    padding: 1px;
}

.card {
    border: none;
}

.border-page .card-body .table th {
    border-top: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
}

.border-page .card-body .table th {
    text-align: left;
    border-right: 1px solid #fff !important;
    border-left: 1px solid #fff !important;
}


.border-page .card-body .table td {
    border-top: 1px solid #cccccc !important;
    border-bottom: 1px solid #cccccc !important;
}

/*--------------body thời khóa biểu---------------*/
.panelTKB {
    padding: 40px 0px;
}

    .panelTKB input {
        padding: 25px 15px !important;
        border: 1px solid lightgrey !important;
        border-radius: 10px;
        box-sizing: border-box;
        background-color: #fff !important;
        color: #007acc !important; /* màu khi input*/
        font-size: 13px !important;
        letter-spacing: 1px;
        position: relative;
        font-weight: bold !important
    }

.input1 {
    text-align: left !important;
}

.input2 {
    text-align: right !important;
}

.panelTKB input:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 2px solid #5eabdf !important;
    outline-width: 0
}

::placeholder {
    color: #BDBDBD;
    opacity: 1
}

:-ms-input-placeholder {
    color: #BDBDBD
}

::-ms-input-placeholder {
    color: #BDBDBD
}

.panelTKB button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.datepicker {
    background-color: #fff;
    border-radius: 0 !important;
    padding: 15px 20px !important;
    align-content: center !important
}

.datepicker-dropdown {
    top: 0;
    left: calc(50% - 120px) !important;
}
    /*1484*/
    .datepicker-dropdown.datepicker-orient-left:before {
        left: calc(50% - 6px) !important
    }

    .datepicker-dropdown.datepicker-orient-left:after {
        left: calc(50% - 5px) !important
    }

.panelTKB .datepicker table tr td.today,
.panelTKB span.focused {
    border-radius: 50% !important;
    background-image: linear-gradient(#FFF3E0, #FFE0B2)
}

    .panelTKB .datepicker table tr td.today.range {
        background-image: linear-gradient(#e0f0fe, #e0f0fe) !important;
        border-radius: 0 !important
    }

.panelTKB thead:first-child {
    border: none !important;
    /* có thể thay đổi màu sắc thứ ở đây*/
}

thead tr:nth-child(3) th {
    font-weight: bold !important;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none !important;
    /* có thể thay đổi màu sắc thứ ở đây*/
}

thead tr:nth-child(2) th {
    border: none !important;
    /* có thể thay đổi màu sắc thứ ở đây*/
}


.old,
.day,
.new {
    width: 40px !important;
    height: 40px !important;
    border-radius: 0px !important;
    border: 1px solid lightgrey !important
}

    .day.old,
    .day.new {
        background-color: #F5F5F5 !important;
        color: #007acc !important /*màu tháng trước và sau*/
    }

        .day.old:hover,
        .day.new:hover {
            border-radius: 0px !important
        }

    .old-day:hover,
    .day:hover,
    .new-day:hover,
    .month:hover,
    .year:hover,
    .decade:hover,
    .century:hover {
        border-radius: 50% !important;
        background-color: #e0f0fe
    }

.panelTKB .active {
    border-radius: 50% !important;
    background-image: #007ACC !important;
    color: #fff !important
}

.range-start,
.range-end {
    border-radius: 50% !important;
    background-image: linear-gradient(#0c98eb, #0c98eb) !important; /* màu chọn ngày */
}

.range-start,
.range-end {
    border-radius: 50% !important;
    background-image: linear-gradient(#0c98eb, #0c98eb) !important; /* màu chọn ngày */
    background-color: #b9e2fe;
}

.range {
    color: #000 !important; /* Chọn từ ngày */
    background-color: #e0f0fe !important;
    border-color: #b9e2fe;
}

.prev,
.next,
.datepicker-switch {
    border-radius: 0 !important;
    padding: 10px 10px 10px 10px !important;
    font-size: 18px;
    opacity: 0.7;
    color: #1a87d1 /* top content màu */
}

    .prev:hover,
    .next:hover,
    .datepicker-switch:hover {
        background-color: inherit !important;
        opacity: 1
    }

@media screen and (max-width: 500px) {
    .panelTKB .datepicker-dropdown.datepicker-orient-right:before {
        right: calc(50% - 6px) !important
    }

    .panelTKB .datepicker-dropdown.datepicker-orient-right:after {
        right: calc(50% - 5px) !important
    }
}

.txt-panel-l {
    font-size: 13px;
    font-weight: bold;
    text-align: right;
}

.txt-panel-r input {
    margin-bottom: 16px;
    border: 1px solid #c9c9c9;
    padding: 2px 8px;
}

.txt-panel-r button {
    padding: 10px 20px;
    color: #6c757d; /* màu khi input*/
    font-weight: 600;
    font-size: 13px !important;
    background-color: white !important;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .txt-panel-r button::before {
        border-radius: 50%;
        background-color: #5eabdf;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }

    .txt-panel-r button:hover {
        border-color: #5eabdf;
        color: #5eabdf;
    }

    .txt-panel-r button:focus {
        color: #5eabdf;
        border-color: #5eabdf;
        box-shadow: 0 0 0 3px #5eabdf;
    }

        .txt-panel-r button:focus::before {
            transition: all 0.5s ease-out;
            opacity: 0;
            width: 250px;
            height: 250px;
        }

/*    .txt-panel-r button:active {
        filter: brightness(.8);
    }*/

.txt-panel-l p {
    padding-top: 3px;
    padding-bottom: 22px;
}

.table-tkb td {
    font-size: 12px;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

.table-tkb th {
    background: #d9e7f8;
    padding: 8px 0px;
    color: #000000;
    border: 1px solid #99bbe8;
    text-align: center;
}

.table-tkb {
    padding: 0px 5px;
}

    .table-tkb tr:hover {
        background-color: #EEEEEE;
    }

#getTKB thead {
    position: sticky;
    top: 58px;
}
#getTKB td {
    padding: 5px 5px;
    font-size: 12px;
}
#getTKB tr td:first-child {
    text-align: center;
}
/*--------------body xem lịch giảng dạy---------------*/
.TeachCalender {
    height: auto;
    margin: 15px 5px 5px 5px;
    padding: 4px;
}

/*--------------body xem lịch thi---------------*/
.table-lichthi th {
    background-color: #2647A0 !important;
    color: #fff;
    border: 1px solid #fff;
    font-weight: 500;
    padding: 10px 0px;
}

.table-lichthi td {
    font-size: 12px;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

.table-lichthi tr:nth-child(odd) {
    background-color: #EDF5FF;
}

.table-lichthi td:nth-child(n+11) {
    color: #0000FF;
}
/*--------------body Lớp Học ---------------*/
.Lop-Hoc .card-header {
    background-color: #7ccbfd !important;
    color: white;
}

.Lop-Hoc .table {
    position: relative;
}

    .Lop-Hoc .table thead tr {
        position: sticky;
        top: 55px;
        background-color: #fff;
    }
/*--------------body cập nhật thông tin sinh viên---------------*/
.update-infor {
    padding: 0px 5px;
}

.update-infor-student {
    margin: 10px 15px;
}

.noteVD {
    background: none repeat scroll 0 0 yellow;
    margin: 9px 4px;
    padding: 10px 10px;
    color: red;
    text-align: left;
}

.table-upInfor {
    margin-bottom: 15px;
}

    .table-upInfor td, th {
        border: 1px solid #99bbe8;
    }

    .table-upInfor tr:nth-child(2) {
        text-transform: uppercase;
    }

    .table-upInfor .special {
        background: #d9e7f8;
        height: 30px;
        color: #000000;
        border: 1px solid #99bbe8;
        text-align: center;
        font-weight: bold;
    }

        .table-upInfor .special:hover {
            background: #d9e7f8;
        }

    .table-upInfor tr:hover {
        background-color: #EEEEEE;
    }

    .table-upInfor span {
        padding-top: 5px;
        padding-bottom: 7px;
    }

.input-infor {
    padding: 2px 10px;
    border-top: 1px solid #000;
    border: 1px solid #BBBBBB;
}

    .input-infor:focus {
        border: 1px solid #000;
    }

.input-birth {
    margin: 10px 5px;
    padding: 2px 2px;
    border: 1px solid #000;
}

#GioiTinh {
    font-size: 13px;
    width: 13em;
    margin: 8px 5px;
}

.NoiSinh {
    margin: 8px 5px;
    width: 24em;
}

.HoKhau label {
    font-size: 13px;
    font-weight: bold !important;
}

.HoKhau select {
    width: 20em;
    margin-right: 4em;
}

#tablechung {
    font-size: 13px;
    width: 20.2em;
    margin: 8px 5px;
}

#inputchung {
    font-size: 13px;
    width: 24rem;
    margin: 8px 5px;
}

#inputfamily {
    font-size: 13px;
    width: 1em;
    margin: 8px 5px;
}

#textareaFamily {
    padding: 5px 10px;
    border-top: 1px solid #000;
    border: 1px solid #BBBBBB;
    color: #BBBBBB;
}

.table-inout td {
    border: 1px solid #99bbe8;
}

.table-inout th {
    background: #d9e7f8;
    height: 30px;
    color: #000000;
    border: 1px solid #99bbe8;
    text-align: center;
    font-weight: bold;
}

.table-inout td:first-child {
    background: #F6FFFF;
    height: 30px;
    color: #000000;
    border: 1px solid #99bbe8;
    text-align: center;
    font-weight: bold;
}

.table-inout label {
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold !important;
}

.table-inout td:nth-child(2) p {
    padding: 7px 0px;
}

.update-infor button {
    padding: 5px 15px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    color: #000;
    background-color: #DDDDDD;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px #999;
}

    .update-infor button:hover {
        background-color: #CCCCCC
    }

    .update-infor button:active {
        background-color: #CCCCCC;
        box-shadow: 0 2px #666;
        transform: translateY(2px);
    }

.update-infor .buttonYC {
    padding: 10px 25px;
    background-color: #f6ffff;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 14px;
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
    box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
    overflow: hidden;
    cursor: pointer;
}

    .update-infor .buttonYC > span {
        z-index: 2;
    }

    .update-infor .buttonYC::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 30px;
        background-color: #d9e7f8;
        z-index: -1;
        overflow: hidden;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: right;
        -ms-transform-origin: right;
        transform-origin: right;
        -webkit-transition: -webkit-transform 0.2s ease-in;
        transition: -webkit-transform 0.2s ease-in;
        transition: transform 0.2s ease-in;
    }

    .update-infor .buttonYC:hover {
        color: #000;
    }

        .update-infor .buttonYC:hover::before {
            -webkit-transform: scaleX(1);
            -ms-transform: scaleX(1);
            transform: scaleX(1);
            -webkit-transform-origin: left;
            -ms-transform-origin: left;
            transform-origin: left;
        }

/*--------------body đăng ký học phần---------------*/

.infor-student-DKHP {
    margin: 20px 10px;
}

    .infor-student-DKHP .infor-DKHP {
        width: 160px;
        height: auto;
        float: left;
        font-size: 13px;
    }

    .infor-student-DKHP .infor-DKHP2 {
        width: 210px;
        height: auto;
        float: left;
        font-size: 13px;
    }

    .infor-student-DKHP .infor-DKHP3 {
        width: 150px;
        height: auto;
        float: left;
        font-size: 13px;
        color: red;
    }

@media screen and (max-width: 375px) {
    .infor-student .infor-DKHP p {
        font-size: 12px;
    }

    .infor-student .infor-DKHP2 p {
        font-size: 12px;
    }

    .infor-student .infor-DKHP3 p {
        font-size: 12px;
    }
}
/*test*/
/* Style the tab */
.tab {
    margin: 20px 8px 0px 18px;
    overflow: hidden;
    background-color: white;
}

    /* Style the buttons inside the tab */
    .tab button {
        background-color: #1e7898;
        float: left;
        border: 1px solid #1e7898;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
        padding: 5px 12px;
        transition: 0.3s;
        font-size: 12px;
        font-weight: bold;
        color: #ffffff;
    }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #51abcb;
            border: 1px solid #51abcb;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: white;
            color: #000;
            border-color: #ccc;
            border-bottom: 1px solid white;
        }

/* Style the tab content */
.tabcontent {
    margin: -0.7px 8px 0px 9px;
    display: none;
    padding: 6px 0px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.table-dkhp {
    margin: 8px 10px;
}

    .table-dkhp th {
        background: #d9e7f8;
        padding: 8px 0px;
        color: #000000;
        border: 1px solid #99bbe8;
        text-align: center;
    }

    .table-dkhp td {
        color: #000000;
        border: 1px solid #99bbe8;
        padding: 5px 8px;
    }

    .table-dkhp tr:hover {
        background-color: #EEEEEE;
    }

.tabTable-dkhp th {
    background: #d9e7f8;
    padding: 8px 0px;
    color: #000000;
    border: 1px solid #99bbe8;
    text-align: center;
}

.tabTable-dkhp tr:nth-child(2) {
    background: #d9e7f8;
    padding: 8px 0px;
    color: #000000;
    border: 1px solid #99bbe8;
    text-align: center;
    font-weight: bold;
}

    .tabTable-dkhp tr:nth-child(2):hover {
        background: #d9e7f8;
    }

.tabTable-dkhp td {
    color: #000000;
    border: 1px solid #99bbe8;
    padding: 5px 8px;
}

    .tabTable-dkhp td a:any-link {
        color: #007BFF !important;
    }

.tabTable-dkhp tr:hover {
    background-color: #EEEEEE;
}
/* Style the tab Chọn ngày DKHP */
.tabChonDKHP {
    height: 100vh;
    width: 91.4vw;
    /*calc(93vw - 175px)*/
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
    margin: -2px 0px 0px -2px;
    padding: 6px 12px;
    display: none;
    overflow: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    -webkit-animation: fadeEffect1 0.4s;
    animation: fadeEffect1 0.4s;
    z-index: 100;
    /*position: absolute;*/
    position: fixed;
    transform: translate( 0%, -8%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.tabChonDKHP::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes fadeEffect1 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-4%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-8%);
    }
}

@keyframes fadeEffect1 {
    0% {
        opacity: 0;
        transform: translateY(-4%);
    }

    100% {
        opacity: 1;
        transform: translateY(-8%);
    }
}

/*--------------Tình hình đăng ký học phần---------------*/

.TH-DK-HP .card-header {
    background-color: #e4e4e4 !important;
}

.TH-DK-HP .table {
    position: relative;
}

    .TH-DK-HP .table thead tr {
        position: sticky;
        top: 55px;
        background-color: #fff;
    }

    .TH-DK-HP .table tbody tr td:nth-child(4) {
        color: red;
        font-weight: 600;
    }

/*--------------Xem khung chương trình---------------*/
.Khung-CT {
    padding: 10px
}

.table-CTKhung table { /* sài chung vs khung chương trình kỳ*/
    margin-top: 10px
}

    .table-CTKhung table tr th {
        padding: 5px 10px;
        border: 1px solid #99bbe8;
        background-color: #d9e7f8;
        text-align: left;
        color: #15428B;
    }

    .table-CTKhung table tr td {
        border: 1px solid #99bbe8;
        padding: 5px 7px;
        text-align: left;
    }

.table-con th {
    text-align: center !important;
}

.table-con thead tr td {
    background-color: #d9e7f8 !important;
    color: #15428B !important;
    font-weight: 600;
}
/*--------------Xem khung chương trình---------------*/
.Khung-CTK {
    padding: 10px
}

    .Khung-CTK .table-CTKhung table thead tr th {
        text-align: center;
    }

/*--------------body Đánh giá rèn luyện---------------*/
.table-Danhgia th {
    background: #d9e7f8;
    padding: 8px 0px;
    color: #0000FF;
    font-size: 13px;
    font-weight: 800;
    border: 1px solid #99bbe8;
    text-align: center;
}

.table-Danhgia td {
    padding: 5px 8px;
    font-size: 13px;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

    .table-Danhgia td:last-child {
        padding: 5px 8px;
        font-size: 13px;
        font-weight: 800;
    }

.table-Danhgia {
    padding: 0px 5px;
}

    .table-Danhgia tr:hover {
        background-color: #EEEEEE;
    }

/*--------------body phiếu Đánh giá rèn luyện---------------*/

.warn-txt {
    padding: 8px 15px;
    font-size: 12px;
    color: red;
}

.border-BieuMauRL {
    height: auto;
    margin: 10px 10px 5px 10px;
    padding: 2px 0;
    padding-bottom: 8px;
    border: 1.5px solid #000;
}

.head-table {
    background: #FFFFFF;
    width: 205px;
    padding: 2px 0px 2px 3px;
    border: 1px solid #fff;
    margin-top: -15px;
    margin-left: 27px;
    font-size: 12px
}

.table-RenLuyen table th {
    background: none;
    padding: 8px 5px;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    border: 1px solid #C0C0C0 !important;
    text-align: left;
}


.table-RenLuyen td {
    padding: 5px 8px;
    font-size: 12px;
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
}

.table-RenLuyen input {
    cursor: pointer;
}

.table-RenLuyen {
    padding: 0px 5px;
}

    .table-RenLuyen tr:hover {
        background-color: #EEEEEE;
    }

.form-BieuMauRL button {
    padding: 7px 14px;
    color: #6c757d; /* màu khi input*/
    font-weight: 600;
    font-size: 13px !important;
    background-color: white !important;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

    .form-BieuMauRL button::before {
        border-radius: 50%;
        background-color: #5eabdf;
        content: '';
        position: absolute;
        width: 0;
        height: 0;
    }

    .form-BieuMauRL button:hover {
        border-color: #5eabdf;
        color: #5eabdf;
    }

    .form-BieuMauRL button:focus {
        color: #5eabdf;
        border: white;
        box-shadow: 0 0 0 1px #5eabdf;
    }

        .form-BieuMauRL button:focus::before {
            transition: all 0.5s ease-out;
            opacity: 0;
            width: 250px;
            height: 250px;
        }
